* { 
    box-sizing: border-box;
  }
    
  body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222;
    background: rgb(159, 195, 230);
  }
  
  a {
    text-decoration: none;
    color: rgb(255, 253, 253);
  }
  a:hover {
    color: #c2794f;
  }
  
  
  .main-nav {
    font-size-adjust: 50px;
    width: 100%;
    background: rgba(87, 81, 81, 0.61);
    min-height: 70px;
    padding: 10px;
    position: fixed;
    text-align: center;
  }
  .nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }
  
  .nav .name {
    display: block;
    margin-right: auto;
    color: rgb(14, 12, 12);
  }
  .nav li {
    padding: 5px 10px 10px 10px;
  }
  .nav a {
    transition: all .5s;
  }
  .nav a:hover {
    color: rgb(86, 86, 94)
  }
  
  header {
    text-align: center;
    background: url('coverss.jpg') no-repeat top center ;
    background-size: cover;
    overflow: hidden;
    padding-top: 60px;
  }
  header {
    line-height: 1.5;
  }
  header .profile-image {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid rgb(124, 121, 121);
    transition: all .5s;
  }
  header .profile-image:hover {
    transform: scale(1.5) rotate(360deg);
  }
  .tag {
    background-color: #222223e0;;
    color: rgba(245, 239, 239, 0.856);
    padding: 10px;
    border-radius: 5px;
    display: table;
    margin: 10px auto;
  } 
  .location {
    background-color: rgb(166, 168, 175);
    color: rgb(245, 245, 240);
  }
  .card {
    margin: 10px;
    font-style: bold;
    padding: 20px 40px 40px;
    max-width: 500px;
    text-align: left;
    background: rgb(241, 235, 235);
    border-bottom: 4px solid #ccc;
    border-radius: 6px;
    transition: all .5s;
  }
  * {
    box-sizing: border-box;
  }
  user agent stylesheet
  div {
    display: block;
  }
  body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222;
    background-image: url(downcover.webp);
    opacity: 50%;
  }
  
  .card:hover {
  border-color: #b15632;
  }
  
  ul.skills {
    padding: 0;
    text-align: center;
  }
  
  .skills li {
    border-radius: 6px;
    display: inline-block;
    background: #444040;
    color: white;
    padding: 5px 10px;
    margin: 2px;
  }
  
  .skills li:nth-child(odd) {
    background: #161c20;
  }
  
  
  footer {
    width: 100%;
    min-height: 30px;
    padding: 20px 0 40px 20px;
  }
  
  footer .copyright {
    top: -8px;
    font-size: .75em;
  }
  
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  footer ul li {
    display: inline-block;
  }
  
  a.social {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    opacity: ;
    transition: all .5s;
    border-radius: 100%;
  }
  a.twitter {
    background-image: url(twil.png);
  }
  a.linkedin {
    background-image: url(linkedin.png);
  }
  a.facebook {
    background-image: url(fbl.png);
  }
  a.instagram {
    background-image: url(instagram.png);
  }
  a.social:hover {
    transform: scale(1.2);   
  }
  .clearfix {
    clear: both;
  }
  
  a>img:first-child:last-child {
    transition: box-shadow .15s ease-in-out;
}
.ProfileAvatar-image, .ProfileAvatar-placeholderImage {
    -moz-force-broken-image-icon: 1;
    border-radius: 50%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 7%;
}
img {
    border: 0;
}
  
  @media screen and (min-width: 720px) {
    
    .flex {
        display: -ms-flexbox;      
        display: flex; 
        max-width: 1200px;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin: 0 auto;
    }
  
    header {
      min-height: 470px;
    }
  
    .nav {
      max-width: 1200px;
      padding: 022px 650px;
    }
  
  
    main {
      padding-top: 20px;
    }
  
    main p {
      line-height: 1.6em;
    }
  
    footer {
      font-size: 1.3em;
      max-width: 1200px;
      margin: 40px auto;
    }
  
  }